<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.womobo.easymenu"
	version 	= "1.0.0">

	<name>EasyMenu</name>

	<description>
		EasyMenu is a part of FrontDesk.
	</description>

	<author href="http://alexlau.womobo.com"
		email="liujun.hn@gmail.com">
		Alex Lau
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="res/icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
</widget>
