/**reset**/
* {
	font-size: 16px;
}

@media ( min-width : 1200px) , ( min-height : 1200px) {
	* {
		font-size: 20px;
	}
}

ul,h1,h2 {
	margin: 0;
	padding: 0
}

/**frameset**/
body {
	overflow: hidden
}

body>header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	overflow: hidden;
}

body>section {
	position: fixed;
	top: 2em;
	left: 0;
	right: 2em;
	bottom: 2em;
	overflow: hidden;
	z-index: -50;
}

section>article {
	position: relative;
	display: none;
}

article.l_1_0,article.l_1_1,article.l_1_2 {
	-webkit-box-flex: 1;
	box-flex: 1;
	width: 33%;
	height: 100%;
	display: block;
}

article.l_1_0 {
	-webkit-box-ordinal-group: 1;
}

article.l_1_1 {
	-webkit-box-ordinal-group: 2;
}

article.l_1_2 {
	-webkit-box-ordinal-group: 3;
}

/*just a example*/
article.l_2_0 {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	bottom: 0;
	display: block;
}

article.l_2_1 {
	position: absolute;
	top: 0;
	left: 50%;
	height: 50%;
	right: 0;
	display: block;
}

article.l_2_2 {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	display: block;
}

article>section.dish {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	height: 75%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	-webkit-transform: scale(0.8);
	-webkit-transition: -webkit-transform 1s ease-in-out;
}

article>section.des {
	position: absolute;
	left: 0;
	bottom: 2em;
	right: 0;
	padding: 0.5em;
	height: 25%;
	overflow: auto
}

article>section.cover {
	-webkit-transform: scale(1);
}

article>section.slt {
	position: absolute;
	left: 0;
	height: 3em;
	bottom: 0;
	text-align: center;
	right: 0;
}

/*article>section.price{position:absolute;top:2em;right:2em}*/
section.price>ul li {
	list-style: none
}

body>nav {
	position: absolute;
	top: 2em;
	width: 2em;
	right: 0;
	bottom: 0;
	padding-top: 0.5em
}

body>nav li {
	list-style: none;
	width: 1.8em;
}

body>nav li>a {
	display: block;
	width: 1.8em;
	padding: 1em 2px;
	text-decoration: none;
}

body>footer {
	position: fixed;
	height: 2em;
	left: 0;
	right: 2em;
	bottom: 0;
	display: box;
	box-orient: horizontal;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

body>footer a {
	display: block;
	-webkit-box-flex: 1;
	text-align: center;
	text-decoration: none
}

section.slt a {
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#a3d119),
		to(#739d00) );
	display: block;
	width: 6em;
	border: 1px solid #577604;
	border-radius: 3px;
	margin: 0 auto;
	height: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
}

section.slt a.chk {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa300),
		to(#ffce00) );
	border-color: #b35800;
}

/*section.slt a{display:inline-block;margin:0 2px;width:2em;height:2em;line-height:2em;color:#650b0b;border:1px solid #e19c00;border-radius:2px;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce302), color-stop(100%,#ffaf00));}

section.slt a:active{border-color:#b16801;background: linear-gradient(top, #f0b900 0%,#bf6a00 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b900), color-stop(100%,#bf6a00));}

section.slt a:hover{border-color:#b16801;background: linear-gradient(top, #f0b900 0%,#bf6a00 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b900), color-stop(100%,#bf6a00));}



article>section.slt button:nth-child(1) { width:3em;}

article>section.slt button:nth-child(3) { width:5em;}

*/
section.slt input {
	width: 2.5em;
	height: 2em;
	border: 0;
	padding: 0;
}

/*landscape*/
body>section {
	display: box;
	box-orient: horizontal;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

/*portrait*/
@media screen and (orientation:portrait) {
	body>section {
		display: box;
		box-orient: vertical;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
	section>article {
		display: none
	}
	article.l_1_0,article.l_1_1,article.l_1_2 {
		width: 100%;
		height: 33%;
		display: block;
	}
	article.l_2_0 {
		position: absolute;
		top: 0;
		left: 0;
		height: 50%;
		right: 0;
		display: block;
	}
	article.l_2_1 {
		position: absolute;
		left: 0;
		top: 50%;
		height: 50%;
		width: 50%;
		display: block;
	}
	article.l_2_2 {
		position: absolute;
		top: 50%;
		left: 50%;
		right: 0;
		bottom: 0;
		display: block;
	}
	article>section.des {
		top: 0;
		bottom: 0;
		right: 0;
		width: 40%;
		left: auto;
		height: auto;
		padding-bottom: 2em
	}
	article>section.slt {
		width: 40%;
		left: auto;
		height: 2em;
		bottom: 0;
		text-align: center;
		right: 0;
	}
	article>section.dish {
		height: 100%;
		background-size: 100%;
		width: 60%;
	}
}

/**theme**/
body {
	background-color: #380000
}

body>header {
	background: url(top_bg.png);
	line-height: 2em;
}

header>h1 {
	font-size: 1.2em;
	color: white;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.3) ), color-stop(100%, rgba(255, 255, 255, 0) ) );
}

header>h1:before {
	display: inline-block;
	width: 175px;
	background: url(top_left.png) 100% 50% no-repeat;
	content: '&';
	text-indent: -9999px;
}

header>h1:after {
	display: inline-block;
	width: 175px;
	background: url(top_right.png) 100% 50% no-repeat;
	content: '&';
	text-indent: -9999px;
}

section>article {
	border-color: #380000;
	border-style: solid;
	border-width: 2px 2px 1px 0
}

h2 {
	font-size: 1em;
	color: white;
}

article>header {
	height: 3em;
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 1em
}

article>section.des {
	font-size: 0.8em;
	background-color: #622f14;
	color: white
}

section.price {
	margin-top: -1.8em;
	margin-left: 1em
}

/*price theme 1

section.price>ul li{display:inline;color:orange;text-shadow: white 0 1px 1px;}

section.price>ul li:first-child{font-size:0.8em;}

section.price>ul li:first-child:before{content:'原价:'}

section.price>ul li:last-child{font-size:1.2em;font-weight:bold}

section.price>ul li:last-child:before{content:'/会员价:'}*/

/*price theme 2*/
section.price>ul:before {
	font-size: 1.5em;
	content: '￥';
	color: #fdeb01
}

section.price>ul li {
	display: inline;
	color: #fdeb01;
}

section.price>ul li:first-child {
	font-size: 0.8em;
	text-decoration: line-through;
}

section.price>ul li:last-child {
	font-size: 1.2em;
	font-weight: bold
}

section.slt {
	background-color: #622f14
}

body>nav li {
	border-radius: 0 5px 5px 0;
	border-width: 1px 1px 1px 0;
	border-style: solid;
}

body>nav li:nth-child(4n+1) {
	border-color: #d5ca10;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffb8f),
		color-stop(100%, #fff701) );
	background: linear-gradient(top, #fffb8f 0%, #fff701 100%);
}

body>nav li:nth-child(4n+2) {
	border-color: #e39914;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd101),
		color-stop(100%, #ffa300) );
	background: linear-gradient(top, #ffd101 0%, #ffa300 100%);
}

body>nav li:nth-child(4n+3) {
	border-color: #00a6a4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1ebea),
		color-stop(100%, #02b6b5) );
	background: linear-gradient(top, #a1ebea 0%, #02b6b5 100%);
}

body>nav li:nth-child(4n) {
	border-color: #78a403;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bef400),
		color-stop(100%, #7eae00) );
	background: linear-gradient(top, #bef400 0%, #7eae00 100%);
}

body>footer {
	line-height: 2em;
	background-color: #86340a;
	background: linear-gradient(top, #86340a 0%, #371300 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86340a),
		color-stop(100%, #371300) );
}

body>footer a {
	color: white
}

body>footer a:nth-child(2) {
	border: 1px groove #380000;
	border-width: 0 2px
}

body>footer a:active {
	background: linear-gradient(top, #672300 0%, #331200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #672300),
		color-stop(100%, #331200) );
}

body>footer a:hover {
	background: linear-gradient(top, #672300 0%, #331200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #672300),
		color-stop(100%, #331200) );
}

body>div#selected {
	position: absolute;
	top: 0em;
	bottom: 0em;
	left: 5em;
	right: 5em;
	display: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf3e8),
		color-stop(100%, #f2dab4) );
	border: 1px solid #380000;
	border-radius: 5px 5px 0 0;
}

#selected h2 {
	font-size: 1.2em;
	padding: 0.5em;
	font-weight: bold;
	text-align: center;
	border-radius: 5px 5px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8c3a6),
		color-stop(100%, #dba080) )
}

#selected a.close {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fce302),
		color-stop(100%, #ffaf00) );
	border: 1px solid #e19c00;
	color: #650b0b;
	font-size: 1.2em;
	padding: 0.5em 2em;
	border-radius: 2px;
	margin: 2px auto;
	text-align: center
}

#selected a.close:active {
	border-color: #b16801;
	background: linear-gradient(top, #f0b900 0%, #bf6a00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0b900),
		color-stop(100%, #bf6a00) );
}

#selected a.close:hover {
	border-color: #b16801;
	background: linear-gradient(top, #f0b900 0%, #bf6a00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0b900),
		color-stop(100%, #bf6a00) );
}

#selected div.c {
	position: absolute;
	height: 1.5em;
	left: 0;
	right: 0;
	bottom: 0.2em;
	text-align: center;
}

#selected thead {
	color: #380000
}

#selected tbody {
	color: #843e1a;
	font-weight: bold;
}

#selected tr {
	border-bottom: 1px solid black
}

#selected div.t {
	margin: 0.5em 1em;
	position: absolute;
	top: 2em;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

#selected div.t table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#selected div.t th,#selected div.t td {
	text-align: center;
	line-height: 2em;
	padding: 0;
	border-bottom: 1px solid #DDA284;
}

#selected p {
	margin: 0.5em 2em;
	height: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	color: #471110;
	text-align: right;
}

/*portrait*/
@media screen and (orientation:portrait) {
	header>h1:before,header>h1:after {
		width: auto;
		content: ''
	}
	section>article {
		border-width: 2px 2px 0 0
	}
	body>div#selected {
		left: 1em;
		right: 1em;
	}
}

#cover {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: black;
}

#cover h1 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 1px;
	font-family: 'Raleway', cursive;
	font-weight: 1.2em;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(left, black, #eee, black);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0,
		0, 1) ), color-stop(50%, rgba(238, 238, 238, 1) ),
		color-stop(100%, rgba(0, 0, 0, 1) ) );
	background: -moz-linear-gradient(left, black, #eee, black);
	background: -ms-linear-gradient(left, black, #eee, black);
	background: -o-linear-gradient(left, black, #eee, black);
}

/*

#cover h1:before {

  content: "";

  position: absolute;

  left: 50%;

  top: -50px;

  width: 600px;

  margin-left: -300px;

  margin-top: -220px;

  height: 600px;

  background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #444, black);

  background: -moz-radial-gradient(50% 50%, ellipse closest-side, #444, black);

  background: -ms-radial-gradient(50% 50%, ellipse closest-side, #444, black);

  background: -o-radial-gradient(50% 50%, ellipse closest-side, #444, black);

  z-index: -1;

}

*/
#cover h1 a {
	background: black;
	display: block;
	padding: 1em;
	text-decoration: none;
	letter-spacing: 1em;
	color: white;
}

#cover .previewImg {
	position: absolute;
	top: 50%;
	left: 2em;
	right: 2em;
	height: 33%;
	background-repeat: no-repeat;
	background-size: 100%;
}

#mastermode {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: darkgreen;
}