/**reset**/
* {
	font-size: 16px;
}

@media ( min-width : 1200px) , ( min-height : 1200px) {
	* {
		font-size: 20px;
	}
}

ul,h1,h2,h3 {
	margin: 0;
	padding: 0
}

/**frameset**/
body {
	overflow: auto;
}

body>header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	overflow: hidden;
	z-index: 10;
}

body>section {
	position: fixed;
	top: 2em;
	left: 0;
	right: 2em;
	bottom: 0;
	overflow: hidden;
	z-index: 3;
}

/**start dish item**/
article {
	position: relative;
	width: 100%;
	height: 33%;
	display: block;
	background-color: #380000;
}
article>header {
	position: relative;
	z-index: 5;
}

article>section.dish {
	position: absolute;
	left: 0;
	right: 40%;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

article>section.des {
	position: absolute;
	top: 0;
	left: 60%;
	bottom: 2em;
	right: 0;
	padding: 0 0.5em;
	overflow: auto;
	z-index: 6;
}

article>section.slt {
	position: absolute;
	left: 60%;
	height: 3em;
	bottom: 0;
	text-align: center;
	right: 0;
	z-index: 8;
}

article>section.price {
	position: relative;
	z-index: 6;
}

article>section.price>ul li {
	list-style: none
}

section.slt a {
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#a3d119),
		to(#739d00) );
	display: block;
	width: 6em;
	border: 1px solid #577604;
	border-radius: 3px;
	margin: 0 auto;
	height: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
}

section.slt a::before {
	content: "来一个";
}

section.slt a.chk {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa300),
		to(#ffce00) );
	border-color: #b35800;
}

section.slt a.chk::before {
	content: '不要了';
}
/**end dish item**/
/**start nav bar**/
body>nav {
	position: absolute;
	top: 4em;
	width: 2em;
	right: 0;
	bottom: 0;
	padding-top: 0.5em;
	z-index: 8;
}

body>nav li {
	list-style: none;
	width: 1.8em;
}

body>nav li>a {
	display: block;
	width: 1.8em;
	padding: 1em 2px;
	text-decoration: none;
}
/**end nav bar**/
aside {
	opacity: 0;
	-webkit-transition: opacity ease-out 500ms;
	z-index: 2;
}

aside.front {
	opacity: 1;
	z-index: 4;
}
/**start promotion page**/
#promotion {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

#promoBtn {
	position: fixed;
	top: 1.2em;
	right: 1.2em;
	text-align: center;
	z-index: 15;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

#promoBtn,#promoBtn::before,#promoBtn::after {
	height: 3em;
	width: 3em;
	background: orange;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffb8f),
		color-stop(100%, #fff701) );
	background: linear-gradient(top, #fffb8f 0%, #fff701 100%);
	line-height: 3em;
}

#promoBtn:before,#promoBtn:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
}

#promoBtn:before {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}

#promoBtn:after {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

#promoPage { /*="body>section"*/
	position: absolute;
	top: 2em;
	left: 0;
	right: 2em;
	bottom: 0;
	background-color: #380000;
}
/**end promotion page**/
@media screen and (orientation:portrait) {
}

/*start selection*/
#selectBtn {
	position: fixed;
	width: 2em;
	height: 2em;
	right: 0;
	bottom: 0;
	background: url(selected.png) 50% 50% no-repeat;
	background-size: 100%;
	z-index: 20;
}

#selectBtn span {
	position: absolute;
	top: -1em;
	right: 0;
	height: 1em;
	line-height: 1em;
	font-size: 0.6em;
	color: white;
	border: 3px solid white;
	background-color: #380000;
	border-radius: 1em;
	padding: 0 5px;
}

#selectBtn span::before {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%,
		rgba(255, 255, 255, .15) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.6) ), color-stop(100%, rgba(255, 255, 255, .15) ) );
	background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%,
		rgba(255, 255, 255, .15) 100% );
	border-top-right-radius: 1em;
}

#selected {
	position: fixed;
	top: 2em;
	bottom: 0em;
	left: 0;
	right: 2em;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf3e8),
		color-stop(100%, #f2dab4) );
	border: 1px solid #380000;
	border-radius: 5px 5px 0 0;
}

#selected h2 {
	font-size: 1.2em;
	padding: 0.5em;
	font-weight: bold;
	text-align: center;
	border-radius: 5px 5px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8c3a6),
		color-stop(100%, #dba080) )
}

#selected a.close {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fce302),
		color-stop(100%, #ffaf00) );
	border: 1px solid #e19c00;
	color: #650b0b;
	font-size: 1.2em;
	padding: 0.5em 2em;
	border-radius: 2px;
	margin: 2px auto;
	text-align: center
}

#selected a.close:active {
	border-color: #b16801;
	background: linear-gradient(top, #f0b900 0%, #bf6a00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0b900),
		color-stop(100%, #bf6a00) );
}

#selected a.close:hover {
	border-color: #b16801;
	background: linear-gradient(top, #f0b900 0%, #bf6a00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0b900),
		color-stop(100%, #bf6a00) );
}

#selected div.c {
	position: absolute;
	height: 1.5em;
	left: 0;
	right: 0;
	bottom: 0.2em;
	text-align: center;
}

#selected thead {
	color: #380000
}

#selected tbody {
	color: #843e1a;
	font-weight: bold;
}

#selected tr {
	border-bottom: 1px solid black
}

#selected div.t {
	margin: 0.5em 1em;
	position: absolute;
	top: 2em;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

#selected div.t table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#selected div.t th,#selected div.t td {
	text-align: center;
	line-height: 2em;
	padding: 0;
	border-bottom: 1px solid #DDA284;
}

#selected p {
	margin: 0.5em 2em;
	height: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	color: #471110;
	text-align: right;
}
/**end selection**/
/**start cover**/
#cover {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: black;
	z-index: 20;
}

#cover h1 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 1px;
	font-family: 'Raleway', cursive;
	font-weight: 1.2em;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(left, black, #eee, black);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0,
		0, 1) ), color-stop(50%, rgba(238, 238, 238, 1) ),
		color-stop(100%, rgba(0, 0, 0, 1) ) );
	background: -moz-linear-gradient(left, black, #eee, black);
	background: -ms-linear-gradient(left, black, #eee, black);
	background: -o-linear-gradient(left, black, #eee, black);
}
/*
#cover h1:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 600px;
  background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  background: -moz-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  background: -ms-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  background: -o-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  z-index: -1;
}
*/
#cover h1 a {
	background: black;
	display: block;
	padding: 1em;
	text-decoration: none;
	letter-spacing: 1em;
	color: white;
}

#cover .previewImg {
	position: absolute;
	top: 50%;
	left: 2em;
	right: 2em;
	height: 33%;
	background-repeat: no-repeat;
	background-size: 100%;
}
/**end cover**/

/**theme**/
body {
	background-color: #380000
}

body>header {
	background: url(top_bg.png);
	line-height: 2em;
}

header>h1 {
	font-size: 1.2em;
	color: white;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.3) ), color-stop(100%, rgba(255, 255, 255, 0) ) );
}

@media ( min-width : 800px) {
	header>h1:before {
		display: inline-block;
		width: 175px;
		background: url(top_left.png) 100% 50% no-repeat;
		content: '&';
		text-indent: -9999px;
	}
	header>h1:after {
		display: inline-block;
		width: 175px;
		background: url(top_right.png) 100% 50% no-repeat;
		content: '&';
		text-indent: -9999px;
	}
}

section>article {
	border-color: #380000;
	border-style: solid;
	border-width: 2px 2px 1px 0
}

h2 {
	font-size: 1em;
	color: white;
}

article>header {
	height: 3em;
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 1em
}

article>section.des {
	font-size: 0.8em;
	background-color: #622f14;
	color: white
}

section.price {
	margin-top: -1.8em;
	margin-left: 1em
}
/*price theme 1
section.price>ul li{display:inline;color:orange;text-shadow: white 0 1px 1px;}
section.price>ul li:first-child{font-size:0.8em;}
section.price>ul li:first-child:before{content:'ԭ��:'}
section.price>ul li:last-child{font-size:1.2em;font-weight:bold}
section.price>ul li:last-child:before{content:'/��Ա��:'}*/
/*price theme 2*/
section.price>ul:before {
	font-size: 1.5em;
	content: '￥';
	color: #fdeb01
}

section.price>ul li {
	display: inline;
	color: #fdeb01;
}

section.price>ul li:first-child {
	font-size: 0.8em;
	text-decoration: line-through;
}

section.price>ul li:last-child {
	font-size: 1.2em;
	font-weight: bold
}

section.slt {
	background-color: #622f14
}

body>nav li {
	border-radius: 0 5px 5px 0;
	border-width: 1px 1px 1px 0;
	border-style: solid;
}

body>nav li:nth-child(4n+1) {
	border-color: #d5ca10;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffb8f),
		color-stop(100%, #fff701) );
	background: linear-gradient(top, #fffb8f 0%, #fff701 100%);
}

body>nav li:nth-child(4n+2) {
	border-color: #e39914;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd101),
		color-stop(100%, #ffa300) );
	background: linear-gradient(top, #ffd101 0%, #ffa300 100%);
}

body>nav li:nth-child(4n+3) {
	border-color: #00a6a4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1ebea),
		color-stop(100%, #02b6b5) );
	background: linear-gradient(top, #a1ebea 0%, #02b6b5 100%);
}

body>nav li:nth-child(4n) {
	border-color: #78a403;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bef400),
		color-stop(100%, #7eae00) );
	background: linear-gradient(top, #bef400 0%, #7eae00 100%);
}

/**start dish layout theme**/
div.l21>article{
	height:50%;
}
div.l51>article{
	height:20%;
}
div.l52{
	position:relative;
}
div.l52>article.i1{
	width: 100%;
	height:40%;
}
div.l52>article.i2, div.l52>article.i3, div.l52>article.i4, div.l52>article.i5{
	position:absolute;
	width:50%;
	height:30%;
}
div.l52>article.i2{
	left:0;
	right:50%;
	top:40%;
	bottom:70%;
}
div.l52>article.i3{
	left:50%;
	right:0;
	top:40%;
	bottom:70%;
}
div.l52>article.i4{
	left:0;
	right:50%;
	top:70%;
	bottom:0;
}
div.l52>article.i5{
	left:50%;
	right:0;
	top:70%;
	bottom:0;
}
div.l41>article{
	height:25%;
}
div.l42>article{
	width:50%;
	height:50%;
	display:inline-block;
}
div.l42>article>section.dish, div.l52>article.i2>section.dish, div.l52>article.i3>section.dish, div.l52>article.i4>section.dish, div.l52>article.i5>section.dish{
	right:0;
	bottom:40%;
}
div.l42>article>section.des, div.l52>article.i2>section.des, div.l52>article.i3>section.des, div.l52>article.i4>section.des, div.l52>article.i5>section.des{
	left:0;
	top:60%;
}
div.l42>article>section.slt, div.l52>article.i2>section.slt, div.l52>article.i3>section.slt, div.l52>article.i4>section.slt, div.l52>article.i5>section.slt{
	left:0;
}
/**end dish layout theme**/
#mastermode {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: darkgreen;
	z-index: 100;
}