/**reset**/
body {
	font-size: 16px;
}

a {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media ( min-width : 1200px) , ( min-height : 1200px) {
	body {
		font-size: 20px;
	}
}

ul,h1,h2,h3 {
	margin: 0;
	padding: 0
}

/**frameset**/
body {
	overflow: auto;
}

body>header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2.5em;
	line-height:2.5em;
	overflow: hidden;
	z-index: 10;
}

body>section {
	position: fixed;
	top: 2.5em;
	left: 0;
	right: 2em;
	bottom: 0;
	overflow: hidden;
	z-index: 3;
}

.noScroll>div {
	position: relative;
	width: 100%;
	height: 100%;
}

.noScroll div.page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

.noScroll div.page:nth-of-type(1) {
	display: block;
}

div.page {
	background-color: #622F14;;
}
/**start dish item**/
article {
	position: relative;
	width: 100%;
	height: 33%;
	display: block;
}

article>header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

article>section.price {
	position: absolute;
	top: 1.2em;
	left: 1em;
	z-index: 6;
}

article>section.price>ul li {
	list-style: none
}

article>section.des {
	position: absolute;
	font-size: 0.8em;
	top: 3.75em;
	left: 60%;
	bottom: 0;
	right: 0;
	padding: 0 0.5em;
	overflow: auto;
	z-index: 6;
	border-left: 1px solid #380000;
}

article>section.dish {
	position: absolute;
	left: 0;
	right: 40%;
	top: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	font-size: 3em;
	text-align: right;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0px -1px #BBB, 0 1px white;
	line-height: 3em;
}

article>section.ob {
	position: absolute;
	width: 5em;
	height: 1.5em;
	top: 0.8em;
	right: 0.8em;
	z-index: 8;
	overflow: hidden;
}

section.ob>div {
	height: 3em;
	margin-top: 0;
	-webkit-transition: margin-top ease-out 200ms;
}

section.ob>div.chk {
	margin-top: -1.5em;
}

section.ob a {
	display: inline-block;
	font-size: 1em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
}

section.ob a.o {
	background: -webkit-gradient(linear, left top, left bottom, from(#a3d119),
		to(#739d00) );
	width: 100%;
	border-radius: 3px;
}

section.ob a.p {
	background: -webkit-gradient(linear, left top, left bottom, from(#a3d119),
		to(#739d00) );
	width: 1.5em;
	border-radius: 3px 0 0 3px;
}

section.ob a.d {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa300),
		to(#ffce00) );
	width: 3.5em;
	border-radius: 0 3px 3px 0;
}
/**end dish item**/
/**start nav bar**/
body>nav {
	position: absolute;
	top: 3.5em;
	width: 2em;
	right: 0;
	bottom: 0;
	padding-top: 0.5em;
	z-index: 8;
}

body>nav li {
	list-style: none;
	width: 1.8em;
}

body>nav li>a {
	display: block;
	width: 1.8em;
	padding: 1em 2px;
	text-decoration: none;
}
/**end nav bar**/
body>aside {
	opacity: 0;
	-webkit-transition: opacity ease-out 500ms;
	z-index: 2;
}

body>aside.front {
	opacity: 1;
	z-index: 4;
}
/**start promotion page**/
#promotion {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

#promoBtn {
	position: absolute;
	top: 0.6em;
	right: 0.6em;
	text-align: center;
	line-height: 2.5em;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	z-index: 15;
}
#promoBtn::before,#promoBtn::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
}

#promoBtn,#promoBtn::before,#promoBtn::after {
	height: 2.5em;
	width: 2.5em;
	background: orange;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffb8f),
		color-stop(100%, #fff701) );
}

#promoBtn::before {
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

#promoBtn::after {
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

#promoPage { /*="body>section"*/
	position: absolute;
	top: 2.5em;
	left: 0;
	right: 2em;
	bottom: 0;
	background-color: #622F14;
}
/**end promotion page**/
@media screen and (orientation:portrait) {
}

/*start selection*/
#selectBtn {
	position: fixed;
	width: 2.5em;
	height: 2.5em;
	left: 1em;
	top: 0;
	background: url(selected.png) 50% 50% no-repeat;
	background-size: 100%;
	z-index: 20;
	display: block;
}

#selectBtn span {
	position: absolute;
	top: 0em;
	right: -1em;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 0.6em;
	color: white;
	border: 3px solid white;
	background-color: #380000;
	border-radius: 1.5em;
	padding: 0 5px;
}

#selectBtn span::before {
	position: absolute;
	content: ' ';
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	border-top-left-radius: 1.5em;
	border-top-right-radius: 1.5em;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%,
		rgba(255, 255, 255, .15) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.6) ), color-stop(100%, rgba(255, 255, 255, .15) ) );
	background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0%,
		rgba(255, 255, 255, .15) 100% );
}

#selected {
	position: fixed;
	top: 2.5em;
	bottom: 0em;
	left: 0;
	right: 2em;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf3e8),
		color-stop(100%, #f2dab4) );
	border: 1px solid #380000;
	border-radius: 5px 5px 0 0;
}

#selected table {
	font-size: 0.8em;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#selected thead {
	color: #380000
}

#selected tbody {
	color: #843e1a;
}

#selected th,#selected td {
	text-align: center;
	line-height: 2.5em;
	padding: 0;
	border-bottom: 1px solid #DDA284;
}

#selected table span {
	display: inline-block;
	width: 3em;
	height: 2em;
	line-height: 2em;
	border: 1px solid #577604;
	border-width: 1px 0;
}

#selected table a {
	display: inline-block;
	width: 2em;
	border: 1px solid #577604;
	border-radius: 3px;
	height: 2em;
	line-height: 2em;
}

#selected table a.s {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa300),
		to(#ffce00) );
	border-radius: 3px 0 0 3px;
}

#selected table a.p {
	background: -webkit-gradient(linear, left top, left bottom, from(#a3d119),
		to(#739d00) );
	border-radius: 0 3px 3px 0;
}

#selected table a.d {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa300),
		to(#ffce00) );
	border-color: #b35800;
	width: 5em;
	-webkit-transition: background ease-out 400ms;
}

#selected table a.d::before {
	content: '不要了';
}

#selected table a.d.o {
	background: red
		/*-webkit-gradient(linear, left top, left bottom, from(#ffa300),
		to(#ffce00) );*/
}

#selected table a.d.o::before {
	content: "确定";
}
/**end selection**/
/**start cover**/
#cover {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: black;
	z-index: 20;
}

#cover h1 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 1px;
	font-family: 'Raleway', cursive;
	font-weight: 1.2em;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(left, black, #eee, black);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0,
		0, 1) ), color-stop(50%, rgba(238, 238, 238, 1) ),
		color-stop(100%, rgba(0, 0, 0, 1) ) );
	background: -moz-linear-gradient(left, black, #eee, black);
	background: -ms-linear-gradient(left, black, #eee, black);
	background: -o-linear-gradient(left, black, #eee, black);
}
/*
#cover h1:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 600px;
  background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  background: -moz-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  background: -ms-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  background: -o-radial-gradient(50% 50%, ellipse closest-side, #444, black);
  z-index: -1;
}
*/
#cover h1 {
	font-size: 1.2em;
}

#cover h1 a {
	background: black;
	display: block;
	padding: 1em;
	text-decoration: none;
	letter-spacing: 1em;
	color: white;
}

#cover .previewImg,#cover .wait {
	position: absolute;
	top: 50%;
	left: 2em;
	right: 2em;
	height: 33%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 50%;
}

#cover .wait {
	background-image: url(busy-32.gif);
	background-size: auto;
}
/**end cover**/

/**theme**/
body {
	background-color: #380000
}

body>header {
	background: url(top_bg.png);
}

header>h1 {
	font-size: 1.2em;
	color: white;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.3) ), color-stop(100%, rgba(255, 255, 255, 0) ) );
}

@media ( min-width : 800px) {
	header>h1:before {
		display: inline-block;
		width: 175px;
		background: url(top_left.png) 100% 50% no-repeat;
		content: '&';
		text-indent: -9999px;
	}
	header>h1:after {
		display: inline-block;
		width: 175px;
		background: url(top_right.png) 100% 50% no-repeat;
		content: '&';
		text-indent: -9999px;
	}
}

section>article {
	border-color: #380000;
	border-style: solid;
	border-width: 2px 2px 1px 0
}

h2 {
	font-size: 1em;
	color: white;
}

article>header {
	height: 3em;
	background-color: rgba(0, 0, 0, 0.3);
	padding-left: 1em
}

article>section.des { /*font-size: 0.8em;*/
	/*background-color: #622f14;*/
	color: white
}

/*price theme 1
section.price>ul li{display:inline;color:orange;text-shadow: white 0 1px 1px;}
section.price>ul li:first-child{font-size:0.8em;}
section.price>ul li:first-child:before{content:'ԭ��:'}
section.price>ul li:last-child{font-size:1.2em;font-weight:bold}
section.price>ul li:last-child:before{content:'/��Ա��:'}*/
/*price theme 2*/
section.price>ul:before {
	font-size: 1.5em;
	content: '￥';
	color: #fdeb01
}

section.price>ul li {
	display: inline;
	color: #fdeb01;
}

section.price>ul li:first-child {
	font-size: 0.8em;
	text-decoration: line-through;
}

section.price>ul li:last-child {
	font-size: 1.2em;
	font-weight: bold
}

body>nav li {
	border-radius: 0 5px 5px 0;
	border-width: 1px 1px 1px 0;
	border-style: solid;
}

body>nav li:nth-child(4n+1) {
	border-color: #d5ca10;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffb8f),
		color-stop(100%, #fff701) );
	background: linear-gradient(top, #fffb8f 0%, #fff701 100%);
}

body>nav li:nth-child(4n+2) {
	border-color: #e39914;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd101),
		color-stop(100%, #ffa300) );
	background: linear-gradient(top, #ffd101 0%, #ffa300 100%);
}

body>nav li:nth-child(4n+3) {
	border-color: #00a6a4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1ebea),
		color-stop(100%, #02b6b5) );
	background: linear-gradient(top, #a1ebea 0%, #02b6b5 100%);
}

body>nav li:nth-child(4n) {
	border-color: #78a403;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bef400),
		color-stop(100%, #7eae00) );
	background: linear-gradient(top, #bef400 0%, #7eae00 100%);
}

/**start dish layout theme**/
div.l21>article {
	height: 50%;
}

div.l51>article {
	height: 20%;
}

div.l31 article.i3 {
	height: 34%;
}

div.l52 {
	position: relative;
}

div.l52>article.i1 {
	width: 100%;
	height: 40%;
}

div.l52>article:nth-child(n+2) {
	position: absolute;
	width: 50%;
	height: 30%;
}

div.l52>article.i2 {
	left: 0;
	right: 50%;
	top: 40%;
	bottom: 70%;
}

div.l52>article.i3 {
	left: 50%;
	right: 0;
	top: 40%;
	bottom: 70%;
}

div.l52>article.i4 {
	left: 0;
	right: 50%;
	top: 70%;
	bottom: 0;
}

div.l52>article.i5 {
	left: 50%;
	right: 0;
	top: 70%;
	bottom: 0;
}

div.l41>article {
	height: 25%;
}

div.l42>article {
	width: 50%;
	height: 50%;
	display: inline-block;
}

div.l42>article>section.dish,div.l52>article:nth-child(n+2)>section.dish
	{
	right: 0;
	bottom: 40%;
}

div.l42>article>section.des,div.l52>article:nth-child(n+2)>section.des {
	left: 0;
	top: 60%;
}

@media ( min-width : 900px) {
	div.l52>article:nth-child(n+2)>section.des {
		display: none;
	}
	div.l52>article:nth-child(n+2)>section.dish {
		right: 0;
		bottom: 0;
	}
}

div.l42>article>section.slt,div.l52>article:nth-child(n+2)>section.slt {
	left: 0;
}
/**end dish layout theme**/
#mastermode {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: darkgreen;
	z-index: 100;
}
